body{
	background-color: #F6F6F6;
}
.white-wrapper{
	background-color: #FFFFFF;
}
.main{
	width: 944px;
	margin: 0 auto;
}
.star{
	width: 21px;
	height: 21px;
	display: inline-block;
	background-image: url("../portfolio_images/sprite2.png");
}
.star.dark {
	background-position: 0px 0px;
}
.star.light {
	background-position: -23px 0px;
}
.skils .item {
	float: left;
}
.cls {
	clear: both;
}
nav {
	height: 88px;	
	font-family: Gilroy-Bold;
	font-size: 18px;
}
nav > div {
	float: left;
	width: 20%;
	height: 88px;
	text-align: center;
	vertical-align: middle;
	line-height: 66px;
}
nav > div:first-child{
	text-align: left;
}
nav > div:last-child{
	text-align: right;
}
nav a{
	color: #828282;
	text-decoration: none;
}
.page-title {
	border-top: 1px solid #828282;
	padding-top: 27px;
}
.page-title h1{
	font-family: Gilroy-Bold;
	font-size: 48px;
	float: left;
	line-height: 57px
}
.page-title .title{
	font-family: Gilroy-Medium;
	font-size: 18px;
	margin: 0 auto;
	margin-top: 0px;
	width: 160px;
	margin-top: 59px;
	padding-left: 59px;
	line-height: 22px;
}
.page-title .lang-choice{
	font-family: Gilroy-Bold;
	font-size: 16px;
	color: #828282;
	float: right;
	transform: rotate(270deg);
	margin-right: -21px;
	margin-top: -37px;
}
.page-title .lang-choice a{
	text-decoration: none;
	color: #828282;
}
.page-title .lang-choice .active{
	color: #000000;
}
.page-title img {
	margin-top: 47px;
}


