body{
	background-color: whitesmoke;
}

aside{
	float: left;
  	min-width: 250px;
  	background-color: #a2db26;
  	padding: 24px;
}

.banners img{
	max-width: 250px;
}
header{
	font-size: 56px;
	background-color: black;
	color: whitesmoke;
}
aside h3{
	font-size: 32px;
}
.cls{
	clear: both;
}
footer {
	font-size: 24px;
	background-color: brown;
	color: wheat;
}
main{
	background-color: gray;
	margin-left: 298px;
	padding: 24px;
}

p{
	margin-top: 24px;
}